In [1]:
from template_files import coronavirus_tweets

df = coronavirus_tweets.read_csv_3('data/coronavirus_tweets.csv')
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [2]:
df = coronavirus_tweets.remove_non_alphabetic_chars(df)
df['OriginalTweet'][0]

' MeNyrbie  Phil_Gahan  Chrisitv https   t co iFz9FAn2Pa and https   t co xX6ghGFzCC and https   t co I2NlzdxNo8'

In [3]:
df = coronavirus_tweets.remove_multiple_consecutive_whitespaces(df)
df['OriginalTweet'][0]

' MeNyrbie  Phil_Gahan  Chrisitv https   t co iFz9FAn2Pa and https   t co xX6ghGFzCC and https   t co I2NlzdxNo8'

In [4]:
tdf = coronavirus_tweets.tokenize(df)
tdf

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\santiago.calderon\AppData\Roaming\nltk_data..
[nltk_data]     .
[nltk_data]   Package punkt is already up-to-date!

                                                  Tokens
0      [MeNyrbie, Phil_Gahan, Chrisitv, https, t, co,...
1      [advice, Talk, to, your, neighbours, family, t...
2      [Coronavirus, Australia, Woolworths, to, give,...
3      [My, food, stock, is, not, the, only, one, whi...
4      [Me, ready, to, go, at, supermarket, during, t...
...                                                  ...
41152  [Airline, pilots, offering, to, stock, superma...
41153  [Response, to, complaint, not, provided, citin...
41154  [You, know, itÂ, s, getting, tough, when, Kame...
41155  [Is, it, wrong, that, the, smell, of, hand, sa...
41156  [TartiiCat, Well, new, used, Rift, S, are, goi...

[41157 rows x 1 columns]

In [5]:
import requests
tdf = coronavirus_tweets.remove_stop_words(tdf)
tdf

                                                  Tokens
0      [MeNyrbie, Phil_Gahan, Chrisitv, https, iFz9FA...
1      [advice, Talk, neighbours, family, exchange, p...
2      [Coronavirus, Australia, Woolworths, give, eld...
3      [My, food, stock, empty, PLEASE, don, panic, T...
4      [Me, ready, supermarket, COVID19, outbreak, No...
...                                                  ...
41152  [Airline, pilots, offering, stock, supermarket...
41153  [Response, complaint, provided, citing, COVID,...
41154  [You, itÂ, tough, KameronWilds, rationing, toi...
41155  [Is, wrong, smell, hand, sanitizer, starting, ...
41156  [TartiiCat, Well, Rift, 700, 00, Amazon, rn, n...

[41157 rows x 1 columns]

In [6]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

tdf['Tokens'] = tdf['Tokens'].apply(lambda tokens: [ps.stem(token) for token in tokens])
tdf

                                                  Tokens
0      [menyrbi, phil_gahan, chrisitv, http, ifz9fan2...
1      [advic, talk, neighbour, famili, exchang, phon...
2      [coronaviru, australia, woolworth, give, elder...
3      [my, food, stock, empti, pleas, don, panic, th...
4      [me, readi, supermarket, covid19, outbreak, no...
...                                                  ...
41152  [airlin, pilot, offer, stock, supermarket, she...
41153  [respons, complaint, provid, cite, covid, 19, ...
41154  [you, itâ, tough, kameronwild, ration, toilet,...
41155  [is, wrong, smell, hand, sanit, start, turn, c...
41156  [tartiicat, well, rift, 700, 00, amazon, rn, n...

[41157 rows x 1 columns]

In [7]:
y_predict = coronavirus_tweets.mnb_predict(df)

In [12]:
coronavirus_tweets.mnb_accuracy(y_predict, df['Sentiment'].to_numpy())

0.307213839687052