In [33]:
from template_files import coronavirus_tweets

df = coronavirus_tweets.read_csv_3('data/coronavirus_tweets.csv')
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [34]:
coronavirus_tweets.get_sentiments(df)

['Positive', 'Extremely Negative', 'Extremely Positive', 'Neutral', 'Negative']

In [35]:
coronavirus_tweets.lower_case(df)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know itâs getting tough when @kameronwild...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@tartiicat well new/used rift s are going for ...,Negative

In [36]:
df = coronavirus_tweets.remove_non_alphabetic_chars(df)
df['OriginalTweet'][0]
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil gahan chrisitv https t co i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the cov...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when kameronwild...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,tartiicat well new used rift s are going for ...,Negative

In [37]:
df = coronavirus_tweets.remove_multiple_consecutive_whitespaces(df)
df['OriginalTweet'][0]
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil gahan chrisitv https t co i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the cov...,Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when kameronwild...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,tartiicat well new used rift s are going for ...,Negative

In [38]:
tdf = coronavirus_tweets.tokenize(df)
tdf

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,"[menyrbie, phil, gahan, chrisitv, https, t, co...",Neutral
1,3800,48752,UK,16-03-2020,"[advice, talk, to, your, neighbours, family, t...",Positive
2,3801,48753,Vagabonds,16-03-2020,"[coronavirus, australia, woolworths, to, give,...",Positive
3,3802,48754,NaN,16-03-2020,"[my, food, stock, is, not, the, only, one, whi...",Positive
4,3803,48755,NaN,16-03-2020,"[me, ready, to, go, at, supermarket, during, t...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,"[airline, pilots, offering, to, stock, superma...",Neutral
41153,44952,89904,NaN,14-04-2020,"[response, to, complaint, not, provided, citin...",Extremely Negative
41154,44953,89905,NaN,14-04-2020,"[you, know, it, s, getting, tough, when, kamer...",Positive
41155,44954,89906,NaN,14-04-2020,"[is, it, wrong, that, the, smell, of, hand, sa...",Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,"[tartiicat, well, new, used, rift, s, are, goi...",Negative

In [39]:
coronavirus_tweets.count_words_with_repetitions(tdf)

1350959

In [40]:
coronavirus_tweets.count_words_without_repetitions(tdf)

80071

In [41]:
tdf = coronavirus_tweets.remove_stop_words(tdf)

In [42]:
coronavirus_tweets.count_words_with_repetitions(tdf)

690672

In [43]:
coronavirus_tweets.count_words_without_repetitions(tdf)

78929

In [44]:
coronavirus_tweets.get_sentiments(df)

['Positive', 'Extremely Negative', 'Extremely Positive', 'Neutral', 'Negative']

In [45]:
coronavirus_tweets.second_most_popular_sentiment(df)

'Negative'

In [46]:
coronavirus_tweets.date_most_popular_tweets(df)

'25-03-2020'

In [47]:
coronavirus_tweets.frequent_words(tdf, 10)

['https',
 'covid',
 'coronavirus',
 'prices',
 'food',
 'supermarket',
 'store',
 'grocery',
 'people',
 'amp']

In [48]:
coronavirus_tweets.stemming(tdf)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,"[menyrbi, phil, gahan, chrisitv, http, ifz, fa...",Neutral
1,3800,48752,UK,16-03-2020,"[advic, talk, neighbour, famili, exchang, phon...",Positive
2,3801,48753,Vagabonds,16-03-2020,"[coronaviru, australia, woolworth, give, elder...",Positive
3,3802,48754,NaN,16-03-2020,"[food, stock, empti, don, panic, food, stay, c...",Positive
4,3803,48755,NaN,16-03-2020,"[readi, supermarket, covid, outbreak, paranoid...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,"[airlin, pilot, offer, stock, supermarket, she...",Neutral
41153,44952,89904,NaN,14-04-2020,"[respons, complaint, provid, cite, covid, rela...",Extremely Negative
41154,44953,89905,NaN,14-04-2020,"[tough, kameronwild, ration, toilet, paper, co...",Positive
41155,44954,89906,NaN,14-04-2020,"[wrong, smell, hand, sanit, start, turn, coron...",Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,"[tartiicat, rift, amazon, normal, market, pric...",Negative

In [49]:
df = coronavirus_tweets.read_csv_3("data/coronavirus_tweets.csv")
y_predict = coronavirus_tweets.mnb_predict(df)

In [50]:
coronavirus_tweets.mnb_accuracy(y_predict, df['Sentiment'].to_numpy())

0.994